---
import Headline from '../headline/Headline.astro';
import Icon_Play from '../icons/Icon_Play_White.astro';
const { cover } = Astro.props;
const { alt } = Astro.props;
const { title } = Astro.props;
const { desc } = Astro.props;
const { time } = Astro.props;
---

<div class="musicplayer">
    
    <div class="musicplayer-cover">
        <img src={cover} alt={alt}>
    </div>

    <div class="musicplayer-player">

        <div class="musicplayer-ui">
            <p class="musicplayer-title">{title}</p>
            <p class="musicplayer-description">{desc}</p>
            <div class="musicplayer-timeline">
                <div class="timeline">
                    <span class="timeline-played"></span>
                </div>
            </div>
            <!--time starts from length of title, counting down and not up-->
            <p class="musicplayer-time">{time}</p>
        </div>

        <div class="musicplayer-button">
        <Icon_Play width="23px" />
        </div>
    </div>

</div>