
---
const { headline } = Astro.props;
const { klasse } = Astro.props;
const { subline } = Astro.props;
const { bottom } = Astro.props;
const { margin } = Astro.props;
const { color } = Astro.props;
---

<div class={klasse} style=`margin-bottom:${margin}`>
    <h2 class="headline" style="color:${color}">{headline}</h2>
    <p class="subline" style="color:${color}">{subline}</p>
</div>